[project]
	description = Random shell scripts
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Hrvoje Spoljar (elops)
[access "refs/for/refs/*"]
	read = group user/Hrvoje Spoljar (elops)
	push = group user/Hrvoje Spoljar (elops)
	label-Code-Review = -2..+2 group user/Hrvoje Spoljar (elops)
	label-Verified = -1..+1 group user/Hrvoje Spoljar (elops)
	rebase = group user/Hrvoje Spoljar (elops)
	removeReviewer = group user/Hrvoje Spoljar (elops)
	submit = group user/Hrvoje Spoljar (elops)
[access "refs/heads/*"]
	read = group user/Hrvoje Spoljar (elops)
	create = group user/Hrvoje Spoljar (elops)
	push = +force group user/Hrvoje Spoljar (elops)
	pushMerge = group user/Hrvoje Spoljar (elops)
[access "refs/tags/*"]
	push = +force group user/Hrvoje Spoljar (elops)
	pushTag = group user/Hrvoje Spoljar (elops)
	pushSignedTag = group user/Hrvoje Spoljar (elops)
